<div class="card border-warning mb-3 bg-light">
  <div class="card-header border-warning bg-warning text-white font-weight-bold">
    Order Items:
  </div>
  <div class="card-body">
    <h5 class="card-title text-muted" *ngIf="!OrdSrv.activeOrder?.items.length">No Order Items</h5>
    <table class="table" *ngIf="OrdSrv.activeOrder?.items.length">
      <thead>
        <tr class="bg-info">
          <th *ngFor="let col of cols">{{col}}</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        <tr *ngFor="let item of OrdSrv.activeOrder?.items">
          <td>
            <select id="items" class="custom-select"
                #selectedProductId
                [ngModel]="item.id"
                (change)="changeItem(item, selectedProductId.value)">
              <option value="0">Choose...</option>
              <option *ngFor="let product of ProdSrv.products" [value]="product.id">
                {{product.name}}
              </option>
            </select>
          </td>
          <td>
            {{item.price}}
          </td>
          <td>
            <input type="number" class="form-control"
              [(ngModel)]="item.quantity"
              (change)="checkQuantity(item)"
              placeholder="type Quantity">
            <div class="alert alert-danger" *ngIf="errId == item.id">
              too many quantity, maximum quantity is: {{maxQuantity}}
            </div>
          </td>
          <td>
            {{item.subTotal}}
          </td>
          <td (click)="removeItem(item.id)" class="text-center">
            <i class="fas fa-times"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info bg-info p-3 d-flex justify-content-between align-items-center"
         *ngIf="OrdSrv.activeOrder?.items.length">
      <a class="btn btn-outline-warning" (click)="newItem()">
        <i class="fas fa-plus"></i>
        Add New Item
      </a>
      <span>Total Price: {{OrdSrv.activeOrder?.total}}</span>
    </div>
  </div>
  <div class="card-footer border-warning">
    <button class="btn btn-warning float-right"
            [disabled]="!OrdSrv.activeOrder?.items.length || errId || emptyItems()"
            (click)="postOrder()">
      Post Order
    </button>
    <div class="alert alert-info" *ngIf="notFound">
      Must
      <a routerLink="/signin">SignIn</a>
      OR
      <a routerLink="/signup">SignUp</a>
      First
    </div>
  </div>
</div>
<div class="alert alert-info" *ngIf="orderSaved">
  your order is saved successfully ...
</div>
